.categoryFilter{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.4rem;
    padding-inline: 100px;
    Link{
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.4rem;
        padding-inline: 100px;
    }
}
@media (max-width : 1024px) {
    .categoryFilter{
        margin-top: 50px;
        padding-inline: 0;
        gap: .3rem;
    }
}