.about{
    padding: 50px;
    h2{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
        width: 100%;
        margin-bottom: 40px;
        h3{
            font-size: 29px;
            font-weight: 600 ;
        }
        img{
            width: 100%;
            height: 1005;
            object-fit: cover;
        }
        
    }
    .aboutfooter{
        p{
            span{
                color: blue;
            }
        }
    }
}