.category {
    margin-top: 30px;
    display: flex;
    justify-content: start;
    align-items : center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-inline: 100px;
    .productCard {
            width: calc((60%/ 3) - 2rem);
        }
}

@media (max-width : 1024px){
    .category{
        padding-inline: 10px;
        justify-content: center;
        gap: 5px;
        .productCard {
            margin-top: 10px;
            width: calc((90%/ 1) - 2px);
        }
    }
}